@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: rgba(242, 242, 242, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 12px;
  padding-left: 12px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
}

.button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-large {
  font-weight: 700;
 }

.secondary-button {
  background-color: #756257;
}

.secondary-button:hover {
  background-color: rgba(97, 80, 72, 1);
 }

.secondary-button:focus {
  background-color: rgba(97, 80, 72, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.secondary-button:active {
  background-color: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-success {
  background-color: #7DB54F;
}

.button-success:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button-success:focus {
  background-color: rgba(108, 158, 66, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
}

.button-success:active {
  background-color: rgba(108, 158, 66, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-ghost {
  background-color: transparent;
  border: none;
}

.button-ghost:hover {
  opacity: 0.6;
}

.button-ghost:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-ghost:active {
  opacity: 0.3;
  outline: none;
}

.button-reset {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 80px;
  margin: 0 auto;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 100px;
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
}

.navigation-list .navigation-item:first-child {
  margin-left: 72px;
}

.navigation-logo {
  margin-bottom: -15px;
  z-index: 1;
}

.navigation-user {
  margin: 0;
  padding: 0;
  width: 100px;
  flex-grow: 1;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-user .navigation-item:first-child {
  margin-left: auto;
}

.navigation-user .navigation-item:last-child {
  margin-right: 72px;
  margin-top: 3px;
}

.navigation-link {
  padding: 15px 15px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  position: relative;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-counter {
  position: absolute;
  font-size: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  top: 5px;
  left: 25px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 100px;
}

.navigation-link svg {
  position: absolute;
  fill: #000000;
}

.navigation-link-icon:hover svg{
  fill: rgba(117, 98, 87, 1);
}

.navigation-link-icon:focus svg{
  fill: rgba(117, 98, 87, 1);
}

.navigation-link-icon:active svg{
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
}

.chosen-icon {
  bottom: 15px;
}

.navigation-item-icon:last-child {
  margin-right: 30px;
}

.navigation-button {
  color: #FFFFFF;
  width: 136px;
}

.navigation-button:hover {
  background: rgba(97, 80, 72, 1);
}

.navigation-button:focus {
  background: rgba(97, 80, 72, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.navigation-button:active {
  background: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 0,3);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.background-container {
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
}

.index-welcome-picture {
  display: block;
  margin: 0 auto;
}

.sedona-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages {
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-reasons {
  margin-bottom: 79px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style: none;
  counter-reset: advantages;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item::after,
  .advantage-container::after {
    content: "— №" counter(advantages) " —";
    order: -1;
    margin-bottom: 25px;
  }

.advantages-item .advantages-title {
  margin-bottom: 25px;
  order: -1;
}

.advantage-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 100px;
  padding-bottom: 80px;
  color: #FFFFFF;
}

.advantages-list-inside {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px;
  list-style-type: none;
  padding: 0;
  background-color: #FFFFFF;
}

.advantages-item-point {
  padding-top: 90px;
  padding-bottom: 80px;
}

.advantages-item-point:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-large, 
.advantages-item-large:nth-child(even) {
  flex-direction: row;
  padding: 0;
  background-color: rgba(131, 179, 211, 1);
  grid-column-start: 1;
  grid-column-end: -1;
}

.advantages-item-large::after {
  display: none;
}

.advantages-item-point .advantages-title {
  margin-bottom: 75px;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 36px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.search-hotel-button {
  width: 575px;
  padding-bottom: 22px;
  padding-top: 22px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 7px;
  right: -20px;
  width: 8px;
  height: 8px;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  content: "";
  margin-right: 10px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  margin-right: 10px;
}

.hotel-search {
  text-align: center;
  padding: 91px 240px;
}

.hotel-search-title {
  text-transform: uppercase;
  height: 50px;
  margin: 0;
  margin-bottom: 15px;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 70px;
}

.filter-group {
  width: 150px;
  margin-right: 70px;
}

.house-group {
  width: 150px;
  margin-right: 170px;
}

.price-group {
  width: 300px;
}

.catalog-filter-container {
  background-image: url("../images/backgrounds/catalog-background.jpg");
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 85px;
  color: #FFFFFF;
}

.catalog-filter {
  display: flex;
} 

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.filter-buttons .button {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 160px;
}

.enforce-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.enforce-button:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid #FFFFFF;
  border-radius: 4px;
}

.enforce-button:active {
  background-color: rgba(104, 162, 202, 1);
  outline: none;
  opacity: 0.3;
}

.catalog-sorting-section {
  display: flex;
  padding-top: 45px;
  padding-bottom: 40px;
  padding-right: 72px;
  padding-left: 72px;
  align-items: center;
}

.select-control {
  width: 300px;
}

.sorting-button-container {
  margin-left: auto;
  display: flex;
}

.sorting-button {
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 8px;
  padding: 15px 15px;
  max-height: 50px;
}

.sorting-button:hover {
  border: 2px solid rgba(131, 179, 211, 1);
}

.sorting-button:focus {
  border: 2px solid rgba(131, 179, 211, 1);
}

.sorting-button-active {
  border: 2px solid #000000;
}

.catalog-list-section {
  padding: 0 72px;
}

.hotel {
  display: grid;
  padding: 30px 72px;
  padding: 30px 0;
  grid-template-columns: 208px 150px 1fr 160px;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "img title title stars"
                       "img hotel-type price ."
                       "img about chosen rate";
  column-gap: 8px;
  border-top: 1px solid #E6E6E6;                     
}

.hotel-image-link {
  grid-area: img;
  margin-right: 28px;
}

.hotel-image-link:hover {
  opacity: 0.6;
}

.hotel-image-link:focus {
  outline: 3px solid #83B3D3;
}

.hotel-image-link:active {
  opacity: 0.3;
}

.hotel-link {
  grid-area: title;
  display: flex;
  text-decoration: none;
}

.hotel-link:hover .hotel-title {
  color: rgba(117, 98, 87, 1);
}

.hotel-link:focus .hotel-title {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.hotel-link:active .hotel-title {
  color: rgba(117, 98, 87, 0.3);
  outline: 0;
}

.hotel-title {
  color: #000000;
  margin: 0;
}

.stars {
  grid-area: stars;
  justify-self: center;
  margin: 0;
  background-image: url("../images/icons/star.svg");
  background-size: 25px 17px;
  background-repeat: space no-repeat;
}

.two-stars {
  width: 50px;
}

.three-stars {
  width: 75px;
}

.four-stars {
  width: 100px;
}

.hotel-type {
  grid-area: hotel-type;
  margin: 0;
}

.hotel-price {
  grid-area: price;
  margin: 0;
}

.hotel-about-button {
  grid-area: about;
}

.chosen {
  grid-area: chosen;
  justify-self: start;
  min-width: 160px;
}

.rating-number {
  grid-area: rate;
  text-align: center;
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
  padding-top: 9px;
  padding-bottom: 10px;
  align-self: center;
  border-radius: 4px;
}

.show-more-button-container {
  display: flex;
  padding: 30px;
  border-top: 1px solid #E6E6E6;
  height: 55px;
}

.show-more-button {
  margin: 0 auto;
  width: 625px;
}

.pagination-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;   
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  padding-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 25px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
}

.pagination-link:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}

.sorting-type-quantity {
  margin-left: auto;
}

.select-control-quantity {
  width: 160px;
  margin-left: 50px;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.subscription-form {
  background-image: url("../images/backgrounds/background-footer.jpg");
  text-align: center;
  padding: 94px 240px;
  color: #FFFFFF;
}

.subscription-form-title {
  text-transform: uppercase;
  height: 50px;
  margin: 0;
  margin-bottom: 15px;
}

.submit-form p {
  margin: 0;
  margin-bottom: 25px;
}

.email-container {
  display: flex;
  justify-content: center;
}

.email-container button {
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
}

.footer-contacts {
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  width: 100px;
  margin-right: 60px;
  flex-grow: 1;
  list-style-type: none;
  flex-wrap: wrap; 
}

.footer-social-item {
  height: 20px;
  width: 20px;
  padding-right: 30px;
}

.footer-social-item:nth-child(3n) {
  padding-right: 0;
}

.footer-social-link {
  color: #83B3D3;
}

.footer-social-link:hover svg {
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:focus svg{
  fill: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.footer-social-link:active svg{
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address-phone {
  color: #000000;
  font-size: 40px;
  text-decoration: none;
}

.footer-contacts-address-phone:hover {
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-address-phone:focus {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.footer-contacts-address-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.about-text {
  flex-grow: 1;
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.about-text svg {
  fill: #000000;
}

.about-text:hover svg {
  fill: rgba(117, 98, 87, 1);
}

.about-text:focus svg {
  fill: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.about-text:active svg {
  fill: rgba(117, 98, 87, 0.3);
}


  
  