@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button-large {
    font-weight: 700;
  }

  .secondary-button {
    background-color: #756257;
  }

  .button-success {
    background-color: #7DB54F;
  }

  .button-ghost {
    background-color: transparent;
    border: none;
  }

  .button-reset {
    font-size: 16px;
  }


  .page-header {
    font-size: 20px;
    line-height: 26px;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
    width: 100px;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
  }

  .navigation-user {
    margin: 0;
    padding: 0;
    width: 100px;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
  }

  .navigation-link {
    padding: 15px 15px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    display: block;
  }

  .navigation-item-icon {
    margin-right: 21px;
  }

  .navigation-button {
    color: #FFFFFF;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .background-container {
    background-image: url("../images/backgrounds/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 82px;
    margin-bottom: 63px;
  }

  .index-welcome-picture {
    display: block;
    margin: 0 auto;
  }

  .sedona-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .advantages {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .advantages-reasons {
    margin-bottom: 79px;
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas: "city city city"
                         "city city city"
                         "bridge bridge bridge"
                         "area road tourists";
  }

  .city {
    grid-area: city;
  }

  .bridge {
    grid-area: bridge;
  }

  .area {
    grid-area: area;
  }

  .road {
    grid-area: road;
  }

  .tourists {
    grid-area: tourists;
  }

  .advantages-item {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .advantages-item .advantages-title {
    margin-bottom: 25px;
  }

  .advantages-item-large {
    width: 1200px;
    padding: 0;
  }

  .advantage-container {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .advantages-list-inside {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .advantages-item-point {
    width: 400px;
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .advantages-item-point .advantages-title {
    margin-bottom: 20px;
  }

  .advantages-reasons {
    font-size: 22px;
    line-height: 36px;
  }

  .advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .advantage-description {
    font-size: 18px;
    line-height: 21px;
    width: 250px;
    margin: 0 auto;
  }

  .breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs-item {
    margin-right: 10px;
  }

  .hotel-search {
    text-align: center;
    padding: 91px 240px;
  }

  .hotel-search-title {
    text-transform: uppercase;
  }

  .filter-group {
    width: 150px;
    margin-right: 70px;
  }

  .house-group {
    width: 150px;
    margin-right: 170px;
  }

  .price-group {
    width: 300px;
  }

  .catalog-filter-container {
    background-image: url("../images/backgrounds/catalog-background.jpg");
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 85px;
  }

  .catalog-filter {
    display: flex;
  } 

  .filter-buttons {
    display: flex;
    flex-direction: column;
    width: 160px;
  }

  .filter-buttons .button {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .catalog-sorting-section {
    display: flex;
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .select-control {
    width: 300px;
  }

  .sorting-button-container {
    margin-left: auto;
    display: flex;
  }

  .sorting-button {
    width: 50px;
    margin-right: 10px;
  }

  .sorting-button:last-child {
    margin-right: 80px;
  }

  .hotel {
    display: grid;
  }

  .show-more-button-container {
    display: flex;
    padding: 30px;
  }

  .show-more-button {
    margin: 0 auto;
    width: 625px;
  }

  .pagination-container {
    display: flex;
    margin-bottom: 30px;
  }

  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .pagination-item {
    margin-right: 8px;
  }

  .pagination-item:last-child {
    padding-right: 0;
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 20px;
    background-color: #83B3D3;
    text-decoration: none;
    line-height: 25px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
  }

  .sorting-type-quantity {
    margin-left: auto;
  }

  .select-control-quantity {
    width: 160px;
    margin-left: 50px;
  }

  .footer-container {
    width: 1200px;
    margin: 0 auto;
  }

  .subscription-form {
    background-image: url("../images/backgrounds/background-footer.jpg");
    text-align: center;
    padding: 94px 240px;
  }

  .subscription-form-title {
    text-transform: uppercase;
  }

  .email-container {
    display: flex;
    justify-content: center;
  }

  .footer-contacts {
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .footer-social-list {
    display: flex;
    width: 100px;
    margin-right: 60px;
    flex-grow: 1;
    list-style-type: none;
    flex-wrap: wrap; 
  }

  .footer-social-item {
    height: 20px;
    width: 20px;
    padding-right: 30px;
  }

  .footer-social-item:nth-child(3n) {
    padding-right: 0;
  }

  .footer-social-link {
    color: #000000;
  }

  .footer-contacts-address-phone {
    color: #000000;
    font-size: 40px;
  }

  .about-text {
    flex-grow: 1;
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
  }

  
  