@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
  }

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button-large {
    font-weight: 700;
  }

  .page-header {
    font-size: 20px;
    line-height: 26px;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
    width: 100px;
    flex-grow: 1;
  }

  .navigation-user {
    margin: 0;
    padding: 0;
    width: 100px;
    flex-grow: 1;
  }

  .navigation-link {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  .navigation-button {
    color: #FFFFFF;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .background-container {
    background-image: url("../images/backgrounds/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .index-welcome-picture {
    display: block;
    margin: 0 auto;
  }

  .sedona-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .advantages {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-item {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }

  .advantages-item-large {
    width: 1200px;
  }

  .advantage-container {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .advantages-list-inside {
    display: flex;
  }

  .advantages-item-point {
    width: 400px;
  }

  .advantages-reasons {
    font-size: 22px;
    line-height: 36px;
  }

  .advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .advantage-description {
    font-size: 18px;
    line-height: 21px;
  }

  .hotel-search {
      text-align: center;
  }

  .hotel-search-title {
      text-transform: uppercase;
  }

  .footer-container {
    width: 1200px;
    margin: 0 auto;
  }

  .subscription-form {
      background-image: url("../images/backgrounds/background-footer.jpg");
      text-align: center;
  }

  .subscription-form-title {
      text-transform: uppercase;
  }

  .email-container {
    display: flex;
    justify-content: center;
  }

  .footer-contacts {
    display: flex;
  }

  .footer-social-list {
    display: flex;
    width: 100px;
    margin-right: 60px;
    flex-grow: 1;
  }

  .footer-social-link {
      color: #000000;
  }

  .footer-contacts-address-phone {
      color: #000000;
      font-size: 40px;
  }

  .about-text {
    flex-grow: 1;
    width: 100px;
  }

  .secondary-button {
      background-color: #756257;
  }

  .button-success {
      background-color: #7DB54F;
  }

  .button-ghost {
      background-color: transparent;
  }

  .button-reset {
      font-size: 16px;
  }

  .inner-header-title {
      background-image: url("../images/backgrounds/catalog-background.jpg");
  }